.spot-card {
  background-color: #313f63;
  color: rgb(238, 238, 238);
  margin: 10px 10px;
  padding: 20px;
  border-radius: 10px;
}
.spot-card img {
  border-radius: 8px;
}
.spot-card button {
  background-color: #f78e47;
  color: #313f63;
  font-weight: bold;
  border: none;
  padding: 7px 13px;
  border-radius: 3px;
}
.spot-card button:hover {
  color: rgb(76, 0, 255);
  background-color: rgb(245, 245, 245);
}
.spot-info {
  margin-top: 30px;
}
.spot-info p {
  background-color: #9693ff1f;
  border-radius: 5px;
  padding: 5px 10px;
}
