.service-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.services-sec {
  /* background-color: #f78e47; */
  margin: 4rem 0;
}
.services-sec h1 {
  text-transform: uppercase;
  font-weight: bolder;
  color: #f78e47;
}

/* ======================== */
@media only screen and (max-width: 688px) {
  .service-section {
    grid-template-columns: repeat(1, 1fr);
  }
}
