footer {
  background-color: rgb(43, 43, 43);

  margin-right: auto;
  margin-left: auto;

  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid rgb(128, 128, 128);
}

.link {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-left: 10px;
}
